@charset "utf-8";
/* CSS Document */

#userdata {	
	border-collapse:collapse;
	margin:20px;
}
#userdata tr th {
	background-color: firebrick;
	color:white;
}
.userdata1 {
	background-color:burlywood;
}

.userdata2 {
	background-color:bisque;
}

.userdata3 {
background: #fce397; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: -moz-linear-gradient(top,  #fce397 0%, #febf01 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fce397), color-stop(100%,#febf01)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #fce397 0%,#febf01 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #fce397 0%,#febf01 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #fce397 0%,#febf01 100%); /* IE10+ */
background: linear-gradient(to bottom,  #fce397 0%,#febf01 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce397', endColorstr='#febf01',GradientType=0 ); /* IE6-8 */
color:brown;
}
