<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Main table</title>
    <link rel="stylesheet" type="text/css" href="css/main.css" media="all">	
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/det.js"></script>
</head>
<body>

<div class="details">

</div>
<script type="text/template" id="details">
<% _.each(details, function(detail) { %>
    <div class="detail">
        <div class="userdata3">
            <span class="userdata1"><%= detail.firstName %></span>
            <span class="userdata2"><%= detail.lastName %></span>
        </div>
    </div>
<% }); %>
</script>
</body>
</html>
